# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List popular libraries used by Data Scientists
- List development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. JavaScipt
7. Go

Some of the commonly used libraries used by Data Scientists include:
1. Scrapy
2. Pandas
3. Numpy
4. Scikit-Learn
5. Matplotlib 
6. Seaborn

|Data Science Tools|
|------------------|
|Anaconda|
|Pycharm|
|H2O|
|AWS|
|Hadoop|
|Spark|


### Below are a few examples of evaluating arithmetic expressions in Python ###

In [2]:
print((3 * 4) + 5)

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

hours = 200/60
print(hours)

3.3333333333333335

## Author ##
TranChouDuongDen